* {
    margin: 0;
    padding: 0;
    
}

.nav{
color:black;
text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkorange;
}
.menu{
display: flex;
list-style: none;
gap: 3px;
}
.menu:hover{
    background-color:azure;
}
.menu a {
    display: block;
    padding: 2px;
}
#btn-mobi{
    display: none;

}
@media ( max-width:400px) {
    #btn-mobi{
        display: block;
    }
    .menu{
        display: none;

    }
}